﻿<!DOCTYPE html>
<html lang="en" ng-app>
<head>
    <meta charset="utf-8" />
    <title>Turret defence</title>
    <script src="~/Scripts/vendor/angular.min.js"></script>
    <script src="~/Scripts/vendor/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.0.1.min.js"></script>
    <script src="/signalr/hubs"></script>

    <script src="~/Scripts/game/game.object.js"></script>
    <script src="~/Scripts/game/texture.handler.js"></script>
    <script src="~/Scripts/game/sound.handler.js"></script>
    <script src="~/Scripts/game/maps/level.base.js"></script>
    <script src="~/Scripts/game/missile.js"></script>
    <script src="~/Scripts/game/cannonbuilder.js"></script>
    <script src="~/Scripts/game/interface.js"></script>
    <script src="~/Scripts/game/cannon.js"></script>
    <script src="~/Scripts/game/enemy.js"></script>
    <script src="~/Scripts/game/game.js"></script>
    <link rel="stylesheet/less" type="text/css" href="~/Content/styles.less" />
    <script src="~/Scripts/vendor/less-1.6.0.min.js"></script>
</head>
<body>
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '@Microsoft.AspNet.Mvc.Facebook.GlobalFacebookConfiguration.Configuration.AppId', // App ID
                status: true, // check login status
                cookie: true, // enable cookies to allow the server to access the session
                xfbml: true  // parse XFBML
            });
        };

        // Load the SDK Asynchronously
        (function (d) {
            var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement('script'); js.id = id; js.async = true;
            js.src = "//connect.facebook.net/en_US/all.js";
            ref.parentNode.insertBefore(js, ref);
        }(document));
    </script>

    <div id="wrapper">
        @RenderBody()
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>