﻿h1 {
    color:#ff6a00;
    margin-top:20px;
    display:block;
    font-size:52px;
}

#wrapper {
    text-align:center;
    width:80%;
    background-image: url('Images/background.jpg');
    height:800px;
}

#gamescreen {
    background-color:#555;
}

.panel {
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:400px;
    text-align:center;
    background-color:#eee;
    border:1px solid #222;
    padding:10px 20px;
}

.turret-option {
    padding:10px;
    margin-right:10px;
    display:inline-block;
    height:150px;
    width:200px;
    border:2px solid #444;
    background-color:#eee;
    img {
        display:block;
        margin-left:auto;
        margin-right:auto;
        height:100px;
    }
    span {
        font-weight:bold;
        text-align:center;
        display:block;
        width:100%;
    }
}

ul {
    list-style:none;
}

a {
    background-color:#ff6a00;
    border:1px solid #333;
    text-align:center;
    display:block;
    border-radius:10px;
    padding:20px;
    margin:10px;
}

a:hover {
    cursor:pointer;    
    background-color:#4800ff;
}

input[type=text] {
    margin-top:10px;
    width:100%;
    border:1px solid #111;
    height:40px;
    padding:10px 0px;
}