﻿@*using Turretdefence.Models
@using Microsoft.AspNet.Mvc.Facebook.Models
@model MyAppUser
@{
    ViewBag.Title = "Home Page";
}*@

<div id="gamewindow" ng-controller="GameCtrl" ng-init="initGame()">
    <!-- >h1>Cat-a-stroph</h1-->
    <div ng-show="gameState == 'menu'">
        <div class="panel">
            <a ng-click="gameState = 'createRoom'">Create Room</a>
            <a ng-click="browseForRoom();">Join Room</a>
        </div>
    </div>
    <div ng-show="gameState == 'createRoom'">
        <h2>Create Room</h2>
        <div class="panel">
            <input type="text" ng-model="roomName" placeholder="Enter the name of the room..." />
            <input type="text" ng-model="roomPassword" placeholder="Password" />
            <a ng-click="createRoom();">Create</a>
            <a ng-click="gameState = 'menu'">Back</a>
        </div>
    </div>
    <div ng-show="gameState == 'lobby'">
        <h2>Lobby</h2>
        <div class="panel">
            Connected Players:
            <ul>
                <li ng-repeat="player in currentRoom.Players">
                    {{player.Name}}
                </li>
            </ul>
            <a ng-click="startGame()">Start Game</a><span ng-show="loadingGame">Loading...</span>
        </div>
    </div>
    <div ng-show="gameState == 'browseRoom'">
        <h2>Browse Room</h2>
        <div class="panel">
            <ul ng-repeat="room in allRooms">
                <li><a ng-click="joinRoom(room)">{{room.Name}} ({{room.Players.length}})</a></li>
            </ul>
            <a ng-click="gameState = 'menu'">Back</a>
        </div>
    </div>
    <div ng-show="gameState == 'ingame'">
        <canvas id="gamescreen"></canvas>
        <div class="menu" ng-show="markerSet">
            <ul>
                <li class="turret-option" ng-repeat="turret in turretList" ng-click="startConstruction(turret.ID)">
                    <span>{{turret.Name}}</span>
                    <img class="turret-image" ng-src="{{turret.Image}}" />
                    <span>{{turret.Price}} $</span>
                </li>
            </ul>
            <input type="button" ng-click="endGame()" value="end game"/>
        </div>
    </div>
</div>
